[filter "lfs"]
    clean = git lfs clean %f
    smudge = git lfs smudge %f
    required = true
[user]
    name = Paul Owen
    email = owen.paul@gmail.com
[credential]
    helper = osxkeychain
[core]
    excludesfile = ~/gitignore
